ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__MongoDB=mongodb://localhost:27017
DatabaseSettings__DatabaseName=LifeBalance_OrganizationSaaS
JwtSettings__Secret=SuperSecretKeyForLifeBalanceSaaSMicroservice2026!
Microservices__AuthProfileUrl=http://localhost:5001
Microservices__DashboardUrl=http://localhost:5002
Microservices__ReportingUrl=http://localhost:5003
Microservices__NotificationUrl=http://localhost:5004
Microservices__GamificationUrl=http://localhost:5005
Microservices__MlPredictionUrl=http://localhost:5006
Microservices__AdministrationUrl=http://localhost:5007
